[Unit]
After=init-boomi.service

[Service]
User=boomi
WorkingDirectory=/home/boomi
ExecStart=/home/boomi/start-atom.sh
ExecStop=/home/boomi/stop-atom.sh
Type=forking
TimeoutStartSec=600

[Install]
WantedBy=default.target
