[Unit]
After=network.target

[Service]
User=root
WorkingDirectory=/home/boomi
PassEnvironment=URL BOOMI_USERNAME BOOMI_PASSWORD BOOMI_ATOMNAME BOOMI_CONTAINERNAME BOOMI_ACCOUNTID BOOMI_CLOUDID PROXY_HOST PROXY_USERNAME PROXY_PASSWORD PROXY_PORT INSTALLATION_DIRECTORY DOCKERUID SYMLINKS_DIR ATOM_LOCALHOSTID INSTALL_TOKEN SECURITY_CRON ATOM_HOME EXTRA_OPTIONS AMC JDK_HOME JRE_HOME JAVA_HOME JAVA_ENDORSED_DIRS PATH HOST_INSTALLATION_DIRECTORY KUBERNETES_SERVICE_HOST ATOM_VMOPTIONS_OVERRIDES CONTAINER_PROPERTIES_OVERRIDES BOOMI_ENVIRONMENTID
ExecStart=/home/boomi/init-boomi.sh
Type=oneshot

[Install]
WantedBy=default.target
